# Node dependencies
node_modules/
dist/
.DS_Store

# Python bytecode and environments
__pycache__/
*.pyc
.venv/
env/

# Configuration Files
**/*.env*
config.yaml

# SQLite
*.db

# Logs
*.log

# Pytest
*.coverage